body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
    width: 40vw;
}

h1,
h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #727579;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.criticite-1 {
    font-weight: bold;
    color: green;
    background-color: lightgreen;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
}

.criticite-2 {
    font-weight: bold;
    color: rgb(121, 121, 42);
    background-color: yellow;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
}

.criticite-3 {
    font-weight: bold;
    color: rgb(106, 49, 11);
    background-color: rgb(255, 180, 111);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
}

.criticite-4 {
    font-weight: bold;
    color: rgb(109, 6, 6);
    background-color: rgb(250, 133, 133);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
}

.separator {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}
